
<% @pics.each do |pic| %>
	<div class="span3 text-left steamy-hottub">
		
		<h1 class="custom-font">
			Hour: <%= pic.hour %>
		<br />
		<h2>
			Emotion: <%= pic.emotion %>
			<br/>
			Learned: <%= pic.learned %>
		</h2>
	</div>
<% end %>



